<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>

    <!-- ! Fontawesome Link -->

    <script
      src="https://kit.fontawesome.com/c046d5c77d.js"
      crossorigin="anonymous"
    ></script>

    <!-- <script defer src="../app.js"></script> -->
    <!-- <link rel="stylesheet" href="../styles/style.css" /> -->
  </head>
  <body>
    <!-- NavBar -->
    <header class="header">
        <div class="area">
        
          <div class="img">
            <img src="../assets/logo.svg" alt="logo" class="logo"></img>
          </div>
          <div class="button_container">
              <button
                class="btn mobile_navigation bars"
                id="primary_navigation"
                aria-controls="primary_navigation"
                aria-expanded="false"
              ><span class="sr-only"></span>
                </button>
          </div>
          <nav class="navbar">
            <ul
              data-visible="false"
              class="primary_navigation flex"
              id="primary_navigation"
            >
              <li class="nav_list list1"><a href="#" class="nav_link">home</a></li>
              <li class="nav_list list2"><a href="#" class="nav_link">about</a></li>
              <li class="nav_list list3">
                <a href="#" class="nav_link">contacts</a>
              </li>
              <li class="nav_list list4"><a href="#" class="nav_link">blog</a></li>
            </ul>
          </nav>
    </div>
</header>
  </body>
</html>
