<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <script
      src="https://kit.fontawesome.com/c046d5c77d.js"
      crossorigin="anonymous"
    ></script>
   
    <title>Document</title>
    <script defer src="../app.js"></script>
    <link rel="stylesheet" href="../styles/header.css" />
    <link rel="stylesheet" href="../styles/style.css" />
  </head>
  <body>
    <!-- NavBar -->
    <!-- !=========== -->
    <div class="header-nav1">
        <div class="area-nav nav_area">
            <img src="../assets/logo.svg" alt="logo" class="logo"></img>
            <!-- <div class="img"> -->
            <!-- </div> -->
            <div class="button_container">
                <button
                class="btn1 mobile_navigation bars"
                id="primary_navigation"
                aria-controls="primary_navigation"
                aria-expanded="false"
                ><span class="sr-only"></span>
                </button>
            </div>
            <nav class="navbar">
                <ul
                    data-visible="false"
                    class="primary_navigation flex1"
                    id="primary_navigation"
                    >
                    <li class="nav_list list1"><a href="#" data-section="1" class="nav_link">home</a></li>
                    <li class="nav_list list2"><a href="#" data-section="2" class="nav_link">about</a></li>
                    <li class="nav_list list3">
                        <a href="#" data-section="3" class="nav_link">contacts</a>
                    </li>
                    <li class="nav_list list4"><a href="#" data-section="4" class="nav_link">blog</a></li>
                    <li class="nav_list list5"><a href="#" data-section="5" class="nav_link">footer</a></li>
                    <!-- <li class="nav_list list4"><a href="#" data-section="6" class="nav_link">footer</a></li> -->
                </ul>
            </nav>
        </div>
    </div>
    <!-- !=========== -->

    <!-- !! section--2 !! -->
    <section class="section1 header">
      <header class="main_head">
        <div class="area">
          <div class="top_section">
            <div class="header_article_container">
              <p class="greet">hello welcome</p>
              <h2 class="header_title">
                Hi, this is Towhidul Islam and i'm a front end web developer
              </h2>
              <p class="header_article">
                Lorem ipsum dolor sit amet, consectetur adipisicing elit.
                Impedit incidunt tempore amet voluptatem sequi voluptas illo.
                Nostrum quasi commodi dolore. Lorem ipsum dolor sit amet
                consectetur adipisicing elit. Quam, nostrum?
              </p>
              <button class="btn">move</button>
            </div>
            <div class="header_img">
              <img
                src="../image/night-lazy.jpg"
                data-src="../image/night-big.jpg"
                alt="header_image"
                class="image"
              />
            </div>
          </div>
          <div class="social_links">
            <div class="link_header">
              <p class="links_title">get me on the following ones</p>
            </div>
            <div class="links">
              <i class="fab fa-react"></i>
              <i class="fab fa-facebook"></i>
              <i class="fab fa-github"></i>
              <i class="fab fa-linkedin"></i>
            </div>
          </div>
        </div>
      </header>
      <div class="area1">
        <div class="card_section area">
          <div class="col con--1"></div>
          <div class="col con--2"></div>
          <div class="col con--3"></div>
        </div>
      </div>
    </section>
    <!-- **!! section--2 !!** -->

    <!-- !!! section---3 !!! -->
    <section class="section section2" id="section--1">
      <div class="area">
        <div class="title_sec">
          <h2 class="title">Follow your dreem, And try to reach it..</h2>
          <button class="card_btn ">follow</button>
        </div>
        <div class="image_container card_flex">
          <div class="card_container card_container--1" style="background-image: url(../image/sea-lazy.jpg) ;" data-src="../image/sea-big.jpg">
            <h4 class="card_title">Lorem ipsum dolor, sit amet consectetur adipisicing.</h4>
            <p class="card_article">Lorem ipsum dolor sit amet consectetur adipisicing elit. Ipsam dolores, ipsum aliquam neque laboriosam esse.</p>
            <button class="card_btn btn">follow</button>
          </div>
          <div class="card_container card_container--2" style="background-image: url(../image/tree-lazy.jpg) ;" data-src="../image/tree-big.jpg">
            <h4 class="card_title">Lorem ipsum dolor, sit amet consectetur adipisicing.</h4>
            <p class="card_article">Lorem ipsum dolor sit amet consectetur adipisicing elit. Ipsam dolores, ipsum aliquam neque laboriosam esse.</p>
            <button class="card_btn btn">follow</button>
          </div>
          <div class="card_container card_container--3" style="background-image: url(../image/night-lazy.jpg) ;" data-src="../image/night-big.jpg">
            <h4 class="card_title">Lorem ipsum dolor, sit amet consectetur adipisicing.</h4>
            <p class="card_article">Lorem ipsum dolor sit amet consectetur adipisicing elit. Ipsam dolores, ipsum aliquam neque laboriosam esse.</p>
            <button class="card_btn btn">follow</button>
          </div>
        </div>
      </div>
    </section>
    <!-- **!!! section---3 !!!** -->

    <!-- !!!! section----4 !!!! -->
    <section class="section section3" id="section--2">
      <div class="area">
        <div class="title_sec">
          <h2 class="title">Follow your dreem, And try to reach it..</h2>
                    <!-- ** new button -->
          <div class="button__container">
            <button class="slide__btn btn__1 ">&larr;</button>
            <button class="slide__btn btn__2 ">&rarr;</button>
          </div>
        </div>
        <div class="slides__container">
          <div class="slide__wrapper">
            <div class="slider">
              <!-- ** Actual Slide -->
              <img
                  src="http://unsplash.it/1000/1000?image=564"
                  alt="first image"
                  class="slide__img"
                />
              <img
                  src="http://unsplash.it/1000/1000?image=565"
                  alt="first image"
                  class="slide__img"
                />
              <img
                  src="http://unsplash.it/1000/1000?image=563"
                  alt="first image"
                  class="slide__img"
                />
              <!-- <div class="slide slide__1">
                <img
                  src="http://unsplash.it/1000/1000?image=564"
                  alt="first image"
                  class="slide__img"
                />
              </div> -->
          
              <!-- !! slide dots container -->
              <div class="dots">
          
              </div>
              </div>
            </div>
        </div>
        </div>
      </div>
    </section>
    <!-- **!!!! section----4 !!!!** -->

    <!-- **!!!!! section----5 !!!!!** -->
    <section class="section section4" id="section--3">
      <div class="area center">
        <div class="main_content">
          <div class="col_left">
            <img src="../image/sea-lazy.jpg" data-src="../image/sea-big.jpg" alt="">
          </div>
          <div class="right_col">
            <h2 class="right_col_title">Lorem ipsum dolor sit amet consectetur adipisicing elit.</h2>
            <p class="right_col_article">Lorem ipsum dolor sit amet consectetur adipisicing elit. Quisquam suscipit atque, ab labore excepturi nostrum. Quibusdam explicabo repudiandae iste quae, eaque voluptatum, eius, nulla atque error sint animi quo aperiam.</p>
            <div class="email">
              <input type="text" placeholder="enter you email">
              <button class="submit_btn">Submit</button>
            </div>
          </div>
        </div>
      </div>
    </section>
    <!-- **!!!!! section----5 !!!!!** -->

    <!-- **!!!!!! section----6 !!!!!!** -->
    <section class="section section5" id="section--4">
      <div class="area center">
        <div class="main_content-contact">
          <div class="right_col-contact">
            <p class="greet greet-1">hello welcome</p>

            <h2 class="right_col_title">Lorem ipsum dolor sit amet consectetur adipisicing elit.</h2>
            <div class="email-contact">
              <input type="text" class="underline" placeholder="enter firstname">

              <input type="text" class="underline" placeholder="enter lastname">
              <!-- <button class="submit_btn">Submit</button> -->
            </div>
            <input type="text" class="underline" placeholder="message">
            <button class="submit">Submit</button>
          </div>
          <div class="col_left-contact">
            <img src="../image/selena-lazy.jpg" data-src="../image/selena-big.jpg" alt="">
          </div>
        </div>
      </div>
    </section>
    <!-- **!!!!!! section----6 !!!!!!** -->

    <!-- **!!!!!!! section----7 !!!!!!!** -->
    <section class="section section6" id="section--5">
      <div class="footer_flex footer">
        <div class="logo"><img class="footer_logo" src="../assets/logo.svg" alt="logo"></div>
        <div class="footer_content">
          <h2 class="footer_title">welcome to mallawa studio. we belive that if a moment is captured on camera, it will have a lot of meaning</h2>
          <div class="footer_links_container">
            <div class="footer_col footer_col--1">
              <p class="mabot">home</p>
              <p class="mabot">about</p>
              <p class="mabot">Works</p>
            </div>
            <div class="footer_col footer_col--2">
              <p class="mabot"><i class="fas fa-phone"></i>+880-12346542</p>
              <p class="mabot"><i class="fab fa-react"></i>react</p>
              <p class="mabot"><i class="fab fa-github"></i>towhidulislam101988</p>
            </div>
            <div class="footer_col footer_col--3">
              <p class="mabot"><i class="fab fa-facebook"></i>facebook.com</p>
              <p class="mabot"><i class="fab fa-youtube"></i>techintimacy</p>
              <p class="mabot"><i class="fab fa-linkedin"></i>linkedin.com</p>
            </div>
          </div>
        </div>
      </div>
    </section>
    <!-- **!!!!!!! section----7 !!!!!!!** -->
  </body>
</html>
