:root {
  --step--2: clamp(0.79rem, 0.71rem + 0.39vw, 0.99rem);
  --step--1: clamp(0.89rem, 0.55rem + 1.7vw, 1.76rem);
  --step-0: clamp(1rem, 0.17rem + 4.15vw, 3.13rem);
  --step-1: clamp(1.13rem, -0.6rem + 8.65vw, 5.56rem);
  --step-2: clamp(1.27rem, -2.1rem + 16.81vw, 9.88rem);
  --step-3: clamp(1.42rem, -4.88rem + 31.5vw, 17.57rem);
  --step-4: clamp(1.6rem, -9.96rem + 57.81vw, 31.23rem);
  --step-5: clamp(1.8rem, -19.16rem + 104.83vw, 55.53rem);
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.flex1 {
  gap: 1rem;
}
img {
  display: block;
  max-width: 100%;
}
/* !! put blur effect  */
.blur {
  filter: blur(1rem);
  position: relative;
  /* z-index: -1; */
}
/* reveal the secstion Element the section */
.section {
  min-height: 100vh;
  padding: 15rem 0rem;
  border-top: 1px solid rgb(82, 82, 82);

  transition: transform 1s, opacity 1s;
}
.section--hidden {
  opacity: 0;
  transform: translateY(8rem);
}
.section1 {
  position: relative;
  z-index: -100;
  /* display: none; */
  display: flex;
  flex-direction: column;
  align-items: center;
  min-height: 100vh;
}
.main_head {
  background-color: #000000;
  display: flex;
  align-items: center;
  flex-direction: column;
  /* min-height: 100vh; */
  justify-content: center;
  position: relative;
  padding-block-start: 5rem;
  padding-bottom: 10rem;
}
.main_head > * {
  color: white;
}

.area {
  width: 80%;
  margin: 0rem 4rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-direction: column;
  /* border: 2px solid red; */
  /* gap: 5rem; */
}
.top_section {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 2rem;
}
.header_article_container {
  /* max-width: 50%; */
  width: 100%;
}
.header_img {
  max-width: 37rem;
  width: 100%;
  height: 60vh;
  /* max-height: 20rem; */
}
.header_img .image {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
h2 {
  font-size: var(--step-0);
}
p {
  font-size: var(--step--2);
}
.header_title {
  /* font-size: clamp(1.8rem, 4vw, 3.7rem); */
  margin-bottom: 1rem;
  line-height: 1.2;
  font-family: game of squids;
}
.header_article {
}
.greet {
  position: relative;
  padding-left: 4rem;
  margin-bottom: 1rem;
  text-transform: capitalize;
}
.greet::before {
  position: absolute;
  content: "";
  width: 50px;
  height: 3px;
  background-color: rgb(10, 255, 182);
  top: 50%;
  left: 0px;
}
.links_title {
  text-transform: uppercase;
  font-size: clamp(0.7rem, 5vw, 1rem);
  text-align: center;
}
.btn {
  font-size: 1rem;
  border: 2px solid rgb(10, 255, 182);
  outline: none;
  cursor: pointer;
  text-transform: uppercase;
  background: transparent;
  color: #ffffff;
  border-radius: 2rem;
  padding: 0.65rem 3.25rem;
  margin-top: 2rem;
}
.social_links {
  color: white;
  font-size: 2rem;
  margin-top: 10rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  /* justify-content: center; */
}
.links {
  margin-top: 2rem;
  display: flex;
  gap: 2rem;
}
.card_section {
  background-image: linear-gradient(to right, rgb(226, 17, 209), yellow);
  padding: 2rem;
  /* margin-top: 7rem; */
  /* width: 100%; */
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 1rem;
  flex-direction: row;
  /* flex-wrap: wrap; */
  /* display: none; */
  position: absolute;
  bottom: -25%;
  box-shadow: 0px 3px 25px 2px rgb(0, 0, 0);
  margin-bottom: 6rem;
}
.col {
  width: 100%;
  background: hsl(0 0% 100% / 0.5);
  backdrop-filter: blur(1rem);
  box-shadow: 0 0.6em 1em 0.4em hsl(0 0% 0% / 0.3);
  border-radius: 0.5rem;
}
@supports backdrop-filter(1rem) {
  .col {
    background: hsl(0 30% 100% / 0.3);
    backdrop-filter: blur(1rem);
  }
}
.col_flex {
  display: flex;
  align-items: flex-start;
  justify-content: center;
  flex-direction: column;
  padding: 1rem 1.125rem;
}

.col img {
  /* padding: 2rem; */
  margin: auto;
  width: 50%;
  width: 5rem;
  aspect-ratio: 1;
  border-radius: 50%;
  margin-block-end: 0.5rem;
}
.col h4 {
  margin-block-end: 0.5rem;
  /* text-align: left; */
}
.area1 {
  display: flex;
  align-items: center;
  justify-content: center;
  /* border: 2px solid yellow; */
}
/* ** header section media query ** */
@media (max-width: 47rem) AND (max-width: 52rem) {
  .card_section {
    /* bottom: ; */
    /* width: 100%; */
    background-color: #f44f5f;
    font-size: clamp(0.9rem, 5vw + 0.9rem, 1.1rem);
    position: unset;
  }
  .social_links {
  }
  .col {
    color: red;
  }
}
@media (max-width: 38rem) {
  .header {
    position: relative;
  }
  .card_section {
    /* bottom: -30%; */
    flex-wrap: wrap;
    position: unset;
    width: 100%;
  }
  .social_links {
    width: 100%;
    /* background-color: rgb(78, 44, 71); */
    /* transform: rotate(90deg); */
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    left: 0%;
    bottom: 0%;
  }
  .links {
    /* background-color: rgb(241, 123, 123); */
    padding: 1rem;
    /* display: flex; */
    /* align-items: center; */
    /* justify-content: center; */
    gap: 0.5rem;
  }
  .links i {
    /* transform: rotate(-90deg); */
  }
  .link_header {
    display: none;
  }
  .col {
    background-color: #f4f5f7;
    color: blue;
  }
  .top_section {
    flex-direction: column;
  }
  .header_article_container {
    width: 100%;
  }
  .header_img {
    width: 100%;
  }
}

/* !! section2 start !! */
.section2 {
  background-color: #fff334;
  margin-top: 10rem;

  /* border: 2px solid black; */
  display: flex;
  align-items: center;
  justify-content: center;
}
.card_flex {
  display: flex;
  width: 100%;
  /* border: 2px solid black; */
}
.image_container-demo {
  background: rgb(114, 112, 112);
  /* background-repeat: no-repeat; */
  object-fit: cover;
}

.card_container {
  background-size: cover;
  /* max-width: 250px; */
  /* border-radius: 1rem; */
  /* height: 18rem; */
  display: flex;
  padding: 8rem 2rem 3rem 2rem;
  align-items: center;
  justify-content: flex-end;

  flex-direction: column;
}

.card_container--1 {
  background-image: url("http://unsplash.it/400/400?image=223");
}
.card_container--2 {
  background-image: url("http://unsplash.it/400/400?image=232");
}
.card_container--3 {
  background-image: url("http://unsplash.it/400/400?image=234");
}
.card_title {
  color: rgb(25, 197, 228);
  font-size: 1.2rem;
}
.card_article {
  color: rgb(255, 255, 255);
}
.title_sec {
  display: flex;
  padding-block-end: 4rem;
  width: 100%;
  align-items: center;
  gap: 8rem;
  justify-content: space-between;
}
.title_sec h2 {
  font-size: clamp(1rem, 5vw, 2rem);
  font-family: game of squids;
  line-height: 1.3;
  color: rgb(13, 70, 53);
}
.card_btn {
  color: rgb(0, 0, 0);
  border: 3px solid rgb(25, 197, 228);
  cursor: pointer;
  text-transform: uppercase;
  background: transparent;
  font-size: 0.9rem;
  padding: 0.5rem 1.65rem;
  border-radius: 2rem;
}
.card_container > button {
  color: white;
}
/* ** section2 media query ** */

@media (max-width: 44rem) {
  .card_flex {
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
  }
  .card_container {
    background-size: cover;
    max-width: 250px;
    /* border-radius: 1rem; */
    /* height: 18rem; */
    display: flex;
    padding: 10rem 2rem 3rem 2rem;
    align-items: center;
    justify-content: flex-end;

    flex-direction: column;
  }
  .title_sec {
    flex-direction: column;
    padding-block-end: 1rem;
  }
}
/* !! section2 end !! */

/* !!! section3 start !!! */

.section3 {
  position: relative;
  background-color: #b3c3eb;
  z-index: -2;
  display: flex;
  align-items: center;
  justify-content: center;
}

/* ! slider  */
.slides__container {
  width: 100%;
}
.slide__wrapper {
  width: 90%;
  height: 70vh;
  margin: 30px auto;
  overflow: hidden;
  position: relative;
}
.slider {
  width: 100%;
  display: inline-flex;
}
.slide {
  /* position: absolute; */
  /* width: 100%; */
  /* height: 100%; */
}
.slide__img {
  position: absolute;
  z-index: -1;
  top: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
  transition: transform 300ms ease-in;
}
/* !! Button Container */
.button__container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0rem 2rem;
  gap: 3rem;
}
.slide__btn {
  font-size: 2rem;
  padding: 0.125em;
  background: hsl(0 0% 0% / 0.2);
  backdrop-filter: blur(0.5rem);
  border: none;
  width: 3rem;
  aspect-ratio: 1;
  color: white;
  border-radius: 50%;
  cursor: pointer;
}

/* ! Icons */
.icon {
  width: 100%;
  /* font-size: 4rem; */
  font-size: clamp(2rem, 7vw, 5rem);
  color: #8f5fef;
  text-align: center;
  margin-bottom: 2rem;
}

/* !! dots */
.dots {
  position: absolute;
  width: 5rem;
  bottom: 5%;
  left: 50%;
  transform: translate(-50%);

  display: flex;
  align-items: center;
  justify-content: center;
  gap: 0.25rem;
}
.dots__dot {
  width: 0.7rem;
  cursor: pointer;
  aspect-ratio: 1;
  background-color: rgb(252, 250, 250);

  border-radius: 50%;
  border: none;
  outline: none;
}
.dots__dot--active {
  background: rgb(44, 243, 54);
}
/* ** review section media query ** */
@media (max-width: 35rem) {
  .slide__wrapper {
    width: 100%;
    margin: 10px auto;
  }
  .button__container {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0rem 2rem;
    gap: 3rem;
  }
}
/* !!! section3 end !!! */

/* !!!! section4 start !!!! */
.section4 {
  background-color: #000000;
  /* padding: 3rem 0rem; */
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  z-index: -2;
}

.main_content {
  /* border: 2px solid blue; */
  width: 100%;
  background-color: #0b7eb3;
  /* background-color: #fc4d4d; */
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 5rem 2rem;
  position: relative;
  z-index: -1;
}
.col_left {
  /* background-image: url(http://unsplash.it/700/700?image=434); */
  width: 45%;
  height: 25rem;
  max-width: 300px;
  /* padding: 5em 0.5rem; */
  /* border: 2px solid red; */
  margin-left: 2rem;
  position: absolute;
  top: -10%;
  right: 10%;
}
.col_left img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.image_stone {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.right_col {
  width: 45%;
  max-width: 700px;
  /* position: absolute; */
  /* right: 0%; */
}
.right_col_title {
  font-size: clamp(1.2rem, 5vw, 3rem);
  line-height: 1;
  margin-bottom: 1.5rem;
}
.right_col_article {
  margin-bottom: 3rem;
}
.email {
  background-color: #fff;
  width: max-content;
  border-start-end-radius: 1rem;
  border-end-end-radius: 1rem;
}
.email > ::placeholder {
  padding: 0rem 1rem;
  text-transform: capitalize;
  color: black;
}
input {
  background-color: transparent;
  border: none;
  outline: none;
  padding: 1rem;
  /* border-bottom: 1px solid #000; */
}
.submit_btn {
  border: none;
  padding: 1rem;
  outline: none;
  background-color: #444fff;
  text-transform: uppercase;
  cursor: pointer;
  color: white;
  /* padding: 0.25rem 1.25rem; */
  border-start-end-radius: 1rem;
  border-end-end-radius: 1rem;
}

/* ** section-4 media query ** */
@media (max-width: 51rem) {
  .main_content {
    /* background-color: #893538; */
    flex-direction: column;
    padding: 2rem 2rem;
    align-items: center;
    gap: 2rem;
  }
  .col_left {
    width: 100%;
    /* all: unset; */
    position: unset;
    margin-left: 0;
    /* border : 2px solid yellow; */
  }
  .right_col {
    /* border : 2px solid blue; */
    width: 100%;
    position: unset;
  }
}
/* !!!! section4 end !!!! */

/* !!!!! section5 start !!!!! */
.center {
  display: flex;
  align-items: center;
  width: 100%;
}
.section5 {
  position: relative;
  z-index: -10;
  display: flex;
  align-items: center;
  /* border: 2px solid black; */
  width: 100%;
}
.main_content-contact {
  display: flex;
  /* align-items: center; */
  /* border: 2px solid black; */
  justify-content: space-between;
}
.col_left-contact {
  width: 48%;
  aspect-ratio: 1;
  /* background-color: #ff444f; */
  /* background-image: url(http://unsplash.it/700/700?image=633); */
  background-size: cover;
  background-repeat: no-repeat;
  position: relative;
}
.col_left-contact img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  z-index: -1;
}
.right_col-contact {
  width: 48%;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: space-between;
  /* background-color: #444fff; */
  gap: 1rem;
}
.underline {
  border-bottom: 1px solid #000;
  width: max-content;
  width: 100%;
}
::placeholder {
  text-transform: uppercase;
}
.submit {
  display: block;
  /* width: 50%; */
  border: 4px solid rgb(138, 2, 65);
  text-transform: uppercase;
  cursor: pointer;
  outline: none;
  padding: 0.5rem 3.5rem;
  border-radius: 2rem;
}
.greet-1 {
  text-transform: uppercase;
}
/* ** section5 media query ** */
@media (max-width: 48rem) {
  .area {
    margin: 0rem 0rem;
  }
  .main_content-contact {
    /* all: unset; */
    flex-direction: column;
    align-items: center;
    /* width: 100%; */
    /* border: 2px solid rgb(255, 251, 0); */
    gap: 5rem;
  }
  .right_col-contact {
    width: 80%;
    align-items: flex-start;
    /* border: 2px solid blue; */
  }

  .col_left-contact {
    width: 80%;
  }
  .right_col_title {
    text-align: left;
    padding-bottom: 0rem;
  }
  .email-contact {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    flex-wrap: wrap;
  }
  .underline {
    display: block;
  }
  .greet {
    text-align: left;
  }
}
/* !!!!! section5 end !!!!! */

/* !!!!!! section6 start !!!!!! */
.section6 {
  background-color: #f796be;
  display: flex;
  align-items: center;
  justify-content: center;
}
.footer_flex {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: space-between;
}
.footer {
  /* border: 2px solid white; */
  gap: 5rem;
  /* align-items: flex-start; */
  /* justify-content: center; */
  max-width: 1140px;
}
.section6 > * {
  color: rgb(0, 0, 0);
}
.footer_links_container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  /* border: 2px solid white; */
  gap: 0.5rem;
}

.footer_links_container > * p {
  text-transform: capitalize;
}
.mabot {
  margin-bottom: 1rem;
}
.fas {
  color: rgb(13, 70, 53);
  font-size: 1.3rem;
}
.fab {
  font-size: 1.3rem;
  color: rgb(0, 116, 96);
}
.footer_title {
  font-size: clamp(1rem, 5vw, 1.8rem);
  margin-block-end: 2rem;
  text-transform: capitalize;
  color: rgb(0, 116, 96);
  max-width: 700px;
}
.footer_col {
  width: 100%;
}
.footer_content {
  /* border: 2px solid white; */
  /* width: 70%; */
}
.fab,
.fas {
  padding-right: 1rem;
}
.footer_logo {
  width: 100px;
  aspect-ratio: 1;
}
.logo {
  /*   border: 2px solid white;
  display: flex;
  align-items: center;
  width: 100%; */
  /* width: 30%; */
  /* align-items: flex-start; */
}
/* ** Footer media Query ** */
@media (max-width: 55rem) {
  .area {
    /* all : unset; */
    /* margin: 0rem 0rem; */
  }
  .footer_flex {
    /* all : unset; */
    /* flex-direction: column; */
    flex-direction: column;
    /* background-color: #f4f4f5; */
    align-items: center;
    justify-content: center;
    /* justify-content: space-between; */
  }
  .footer {
    /* all: unset; */
    /* align-items: center; */
    /* border : 2px solid blue; */
    /* display: flex; */
    /* flex-direction: column; */
  }
  .footer_title {
    text-align: center;
    padding: 0rem 4rem;
    margin-bottom: 4rem;
  }
  .footer_col {
    width: max-content;
  }
  .logo {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .footer_links_container {
    /* border: 2px solid black; */
    align-items: center;
    justify-content: space-evenly;
    width: 100%;
  }
}
/* !!!!!! section6 end !!!!!! */
