.section--2 {
  background-image: url(http://unsplash.it/1920/1080?image=766);
  background-repeat: no-repeat;
  /* background-position: top center; */
  background-size: cover;
}
.main__container {
  position: relative;
}
.content__positioning {
  /* border: 2px solid yellow; */
  /* position: absolute; */
  /* bottom: -10px; */
}

.dist__image__container {
  max-width: 25rem;
  aspect-ratio: 1;
  border-radius: 50%;
}
.dist__image {
  margin-top: 4rem;
  width: 100%;
  border-radius: 50%;
  object-fit: cover;
  display: none;
}
.dist__image--active {
  display: block;
}

.mars__content {
  display: none;
}
.mars__content--active {
  display: block;
}

.nav__list,
.nav__link {
  color: white;
  text-transform: uppercase;
  list-style: none;
  text-decoration: none;
}
.nav__link {
  border-bottom: 0;
  padding-bottom: 0.5rem;
  /* transform-origin: left; */
  /* transition: all 350ms ease-in-out; */
}
.nav__link:hover,
.nav__link:focus {
  border-bottom: 4px solid white;
}
.left__col__dist {
  display: flex;
  align-items: flex-end;
  flex-direction: column;
}
.right__col__dist {
  max-width: 45%;
  display: flex;
  align-items: flex-start;
  flex-direction: column;
  /* width: 800px; */
}

.col__title span {
  color: #a3a2a2;
  margin-right: 1rem;
}
.col__title {
  color: white;
  font-size: clamp(0.8rem, 4vw + 0.8rem, 1.5rem);
}
.nav__item {
  display: flex;
}
.nav__list + .nav__list {
  margin-left: 1rem;
}
@media (max-width: 52rem) {
  .content__positioning {
    flex-direction: column;
  }

  .dist__right {
    width: 100%;
    /* border: 2px solid red; */
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 2rem;
  }
  .mars__content {
    width: 100%;
  }
  .right__col__dist {
    max-width: 100%;
  }
  .nav__item {
    margin: 1rem;
  }
}
