.footer {
  background-color: #445aaf;
}
.copyright {
  display: flex;
  align-items: center;
  justify-content: center;
}
.date {
  color: hotpink;
}
@media (max-width: 40rem) {
  .copyright {
    flex-direction: column;
  }
  .footer__title {
    font-size: clamp(0.7rem, 3vw + 0.7rem, 1rem);
  }
}
